@import 'tailwindcss';

@utility skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@theme {
  --breakpoint-xs: 380px;

  --color-lg-navy-blue: #142039;
  --color-lg-blue: #21386a;
  --color-lg-gray: #dfdfdf;
  --color-lg-purple-1: #6483cc;
  --color-lg-purple-2: #778fc7;
  --color-lg-purple-3: #8fa6db;
  --color-lg-purple-light: #b8caf5;
  --color-lg-green-1: #8ec748;
  --color-lg-green-2: #a1e44d;
}

.basket-empty a {
  @apply text-(--color-lg-green-1) hover:text-(--color-lg-green-2);
}

.basket-item {
  @apply overflow-hidden;
}

.basket-item {
  .basket-item__delete.basket-item--pending,
  .basket-item__image,
  .basket-item__description,
  .basket-item__properties,
  .basket-item__price {
    @apply transition-opacity duration-300 ease-in-out;
  }
}

.basket-item--pending {
  .basket-item__delete,
  .basket-item__image,
  .basket-item__description,
  .basket-item__properties,
  .basket-item__price {
    @apply opacity-60 pointer-events-none select-none;
  }
}

.button--pending {
  @apply absolute inset-0 overflow-hidden text-(--color-blue) text-[16px];

  span:first-child {
    @apply absolute top-0 bottom-0 left-0 h-full w-0 bg-[#F0F0F0];
    animation: expand 3s linear forwards;
  }

  span:last-child {
    @apply absolute inset-0 z-20 place-content-center;
  }
}

.button--removal {
  @apply pointer-events-none text-[#9399A1];
}

.modal-delete {
  @apply bg-white rounded-[32px] p-8 flex flex-col gap-8 text-[18px] leading-[24px] text-balance w-[280px] xs:w-[350px];
}

.modal-delete__buttons {
  @apply flex flex-row gap-6 justify-between;
}

.modal-delete__buttons .button {
  @apply flex-1 justify-center h-[50px];
}

.modal-success {
  @apply rounded-[32px] md:rounded-[48px] flex flex-col gap-5 lg:flex-row text-balance justify-between items-center p-5 md:p-6 xl:p-8
  relative overflow-hidden bg-no-repeat min-w-[80%] max-h-[500px] md:max-h-[550px]
  bg-(--color-lg-green-1) lg:bg-white lg:bg-[url('/assets/img/bg-form-result.svg')] lg:bg-[bottom_right_-30%] 2xl:bg-[bottom_right];

  .modal-success__text {
    @apply flex-1 text-white lg:text-(--color-lg-blue);

    .h2 {
      @apply mb-2 text-white lg:text-(--color-lg-blue);
    }
  }

  .modal-success__image {
    img {
      @apply shrink w-fit h-fit object-cover transition-transform duration-300 ease-in-out
      animate-[hideY_500ms_ease-in-out_forwards] lg:animate-[hideX_500ms_ease-in-out_forwards];
    }
  }
}

.form__error {
  @apply flex mb-3;
}

.popup-scroller {
  @apply cursor-pointer;
}

.modal-delete,
.modal-success {
  @apply cursor-default;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideY {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hideX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
